:root {
  --bg-color: #282a37;
  --dark-blue: #323644;
  --light-blue: #1d90f5;
  --light-grey: #555b69;
}

* {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: white;
}

h1,
h3,
p {
  margin: 0px;
}
